@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Register-title h1,
.login-title h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'RobotoFlex', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: white;
}

.login-button {
  margin: auto;
  cursor: pointer;
}

.logo img {
  width: 40px;
}

.container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 554px;
  margin: 20px;
  border-radius: 10px;
}

.input-group {
  margin: 50px;
  display: flex;
  align-items: flex-start;
}

.top {
  border-radius: 10px 10px 0px 0px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2945a7;
}

.forgot-password {
  color: #1b47e2;
}

.forgot-password a {
  color: #1b47e2;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-button-grp {
  flex-direction: row;
  justify-content: space-around;
}

input {
  outline: none;
  border-radius: 10px;
  height: 41px;
  border: 2px solid #56bbef;
  padding: 0 20px;
}

input:focus::-webkit-input-placeholder {
  color: rgba(255, 0, 0, 0);
}

input:focus:-moz-placeholder {
  color: rgba(255, 0, 0, 0);
}

input:focus::-moz-placeholder {
  color: rgba(255, 0, 0, 0);
}

input:focus:-ms-input-placeholder {
  color: rgba(255, 0, 0, 0);
}

.input-group {
  position: relative;
  align-items: flex-start;
}

.input-group input {
  width: 300px;
}

.email-text {
  position: absolute;
  top: -9px;
  left: 20px;
}

.patch {
  position: absolute;
  top: -1px;
  left: 17px;
  width: 50px;
  height: 12px;
  color: white;
  background-color: #fff;
}

.forgot-password a {
  font-family: Roboto;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  left: 20px;
}

.bottom-button {
  color: #fff;
  cursor: pointer;
  width: 175px;
  height: 43px;
  background: #38b3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px;
  font-family: Roboto;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  margin: 15px;
}

.hidden {
  transform: translateY(10px);
  display: none;
}

.visible {
  transform: translateY(0px);
  transition: ease-in-out;
  display: block;
}

.bottom {
  margin-bottom: 255px;
}

.bg-img {
  border-radius: 10px;
  margin-top: -586px;
  z-index: -7;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.center img {
  margin: 5px;
  width: 100px;
  height: 100px;
}

.image-container {
  overflow-y: scroll;
  height: 350px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container::-webkit-scrollbar {
  width: 4px;
}

.image-container::-webkit-scrollbar-thumb {
  background: #56BBEF;
}

.selected {
  filter: grayscale(100%);
  filter: blur(5px);
}

.PasswordSet .bg-img,
.ImageInput .bg-img {
  z-index: -1;
  width: 100%;
  margin-top: -380px;
}

.password-image img {
  object-fit: cover;
  cursor: pointer;
}

.gif img {
  width: 250px;
  height: 100%;
}

.set {
  margin-bottom: 20px;
}

.bottom-text {
  text-align: center;
  margin: 10px;
  color: white;
}

.bottom-text a {
  text-decoration: none;
  color: #1813E8;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;

}

.password-image input {
  display: none;
}

.password-image {
  position: relative;
}

.password-image .delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.warning {
  color: #EE1414;
  margin-top: 10px;
  text-align: center
}

button:hover {
  background-color: #1B47E2;
  transition: ease-in-out;
}

.successful {
  margin-top: -80px;
}

.send-link,
.send-link a {
  text-decoration: none;
  text-align: center;
  margin-top: -270px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #5AB9EA;
}

.send-link a {
  color: #1B47E2;
  cursor: pointer;
}

.Home {
  background: url(./asset/img/home-bg.jpg);
  width: 100vw;
  height: 100vh;
}

.Home .top {
  background-color: #000;
  color: #fff;
  width: 100vw;
  top: 0px;
  position: absolute;
  border-radius: 0px;
}

.Home .top h1 {
  text-align: center;
}

.black-button {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  width: 132px;
  height: 34px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.black-button:hover {
  color: #000;
  background-color: #fff;
}

#toggle5 {
  width: 86px;
}

.lineleft,
.lineright {
  height: 3px;
  width: 150px;
  background-color: #000;
}

.row {
  flex-direction: row;
  margin: 20px;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.Success {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}

.abs-center {
  justify-content: center;
}

#warning1 {
  text-align: center;
  margin: 20px;
  margin-top: -40px;
}